.Dashboard-main {
    width: 98vw; 
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(36, 47, 47,0.05);
    border-radius: 10px;
    border: 5px solid transparent;
    backdrop-filter: blur(40px) brightness(1.2) saturate(1.4);
    box-shadow: 0 15px 30px rgba(26, 31, 31, 0.6);
    margin: auto;
    padding: 20px;
  }
  